

# compiled output
/build
/dist
/node_modules
/modules

# Prisma migrations
/prisma/migrations

# Public
/upload
/public

# NodeJS environment variables
*.env
dev.conf

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/test_files
/src
less-compiler.exe
*.ps1

# IDE - VSCode
.hintrc
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json